<header class="header">
    <div class="container">
        <a class="logo link" href="/">Filmoteka</a>
        <!-- <img src="./images/planet-logo.png" alt="company logo"> -->
        <nav class="navigation">
            <ul class="menu list">
                <li class="menu__item">
                    <a class="menu__link link" href="">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="">my library</a>
                </li>

            </ul>
        </nav>
<div class="header-search">
    <form>
        <input type="text" placeholder="Search a movie"
            data-input="input" />
    </form>

    <ul class="btn-list list">
        <li class="btn-list__item">
            <button class="btn-list__header">WATCHED</button>
        </li>
        <li class="btn-list__item">
            <button class="btn-list__header ">QUEUE</button>
        </li>
    </ul>
</div>
</div>



    </header>