<ul class="film__list">
  <!-- <li class="film__items">
    <div class="film__cards">
      <img class="film__poster" src="#" alt="poster">
      <p class="film__name">Avatar</p>
      <div class="film__thumb">
        <p class="film__genres">...</p>
      </div>
    </div>
  </li>
  <li class="film__items">
    <div class="film__cards">
      <img class="film__poster" src="#" alt="poster">
      <p class="film__name">Avatar</p>
      <div class="film__thumb">
        <p class="film__genres">...</p>
      </div>
    </div>
  </li>
  <li class="film__items">
    <div class="film__cards">
      <img class="film__poster" src="#" alt="poster">
      <p class="film__name">Avatar</p>
      <div class="film__thumb">
        <p class="film__genres">...</p>
      </div>
    </div>
  </li>
  <li class="film__items">
    <div class="film__cards">
      <img class="film__poster" src="#" alt="poster">
      <p class="film__name">Avatar</p>
      <div class="film__thumb">
        <p class="film__genres">...</p>
      </div>
    </div>
  </li>
  <li class="film__items">
    <div class="film__cards">
      <img class="film__poster" src="#" alt="poster">
      <p class="film__name">Avatar</p>
      <div class="film__thumb">
        <p class="film__genres">...</p>
      </div>
    </div>
  </li> -->
</ul>