<div class="container"><article class="example">
  <h1>Welcome! This is a team project to train our Java Script knowledge and skills</h1>
<h2>by GoIT Students</h2>
  
  <button class="button "> Watched </button>
  <h3>1. Дмитро Лоївський - тимлид
  https://github.com/Dimmac - гитхаб
  dmytro.lojivsky@gmail.com - почта
  
  2. Мария Самсоненко - скрам
  https://github.com/MaryaSamsonenko - гитхаб
  samashushka7@gmail.com -почта
  
  3. Евгения Ващенко
  https://github.com/EugeniaV5 - гитхаб
  dn050493vem@gmail.com - почта
  
  4. Максим Чиханов
  https://github.com/MaxusGuitar - гитхаб
  maxim1999chikhanov@gmail.com - почта
  
  5. Вадим Владимиров
  https://github.com/diVladimirov - гитхаб
  
  6. Виталий Коваленко
  https://github.com/VitaliiKovalenko88 - гитхаб
  vintilyator88@gmail.com - почта
  
  7. Юлия Мельник
  https://github.com/Yuliia-dev - гитхаб
  juliagusta1@gmail.com - почта
  
  8. Нталья Резникова
  https://github.com/natasha-reznikova - гитхаб
  reznikova0586@gmail.com - почта
  
  9. Евгений (Жека Jinn May)
  https://github.com/ZagenMay - гитхаб
  </h3>
  
  <div class="background"></div>
</article>
</div>