.button {
  position: relative;
  display: block;
  cursor: pointer;
  min-width: 130px;
  height: 44px;
  padding: 14px 12px;
  border: 1px solid var(--text-color-light);

  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  @include font(12px, 500, 16px);
  color: var(--text-color-light);

  background-color: transparent;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-align: center;
  @include min-width('medium') {
    min-width: 136px;
  }
}
.button-active {
  background: var(--accent-color);
  border: var(--accent-color);
  //   box-shadow: var(--button-shadow);
  border-radius: 4px;
}

.button:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 3px 3px 20px 0px rgba(201, 146, 107, 0.6), -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 300ms var(--cubic);
}

.button:hover:after,
.button:focus:after {
  left: auto;
  right: 0;
  width: 100%;
}
