.container {
  margin: 0 auto;

  @include min-width('small') {
    padding: 0 10px;
    min-width: 320px;
  }

  @include min-width('medium') {
    width: 638px;
  }
  @include min-width('large') {
    width: 902px;
  }
}
