.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(51, 34, 34, 0.5);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .loader-main {
//   border: 16px solid #f3f3f3;
//   border-top: 16px solid var(--accent-color);
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// .hide {
//   opacity: 0;
// }

// ===================================

.loader-main {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;

  &:before,
  &:after {
    content: '';
    height: 40px;
    width: 40px;
    border: 8px solid var(--accent-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
  }

  &:before {
    animation: animate 2s infinite linear;
  }

  &:after {
    animation: animate2 2s infinite linear;
  }
}

@keyframes animate {
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate2 {
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}

// =============================================
#nprogress .bar {
  background: var(--accent-color) !important;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px var(--accent-color) !important;
  border-radius: 50%, 0 0 5px var(--accent-color) !important;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  top: 30% !important;
  right: 50% !important;
}

#nprogress .spinner-icon {
  width: 30px !important;
  height: 30px !important;

  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
}
