.footer {
  padding-top: 30px;
  padding-bottom: 28px;
}

.font {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--text-color-footer);

  @include max-width('medium') {
    font-size: 14px;
    line-height: 16px;
  }
}

.love {
  width: 14px;
  height: 12.88px;
}

.goit-link {
  text-decoration: underline;
  color: var(--text-color-footer);
}

//switcher

.footer.dark-theme {
  background-color: #292929;
  color: rgb(128, 122, 122);
  &.footer-btn {
    color: fff;
  }
  & .footer__text {
    color: #baaeae;
  }
  & .footer__btn {
    color: yellow;
    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }
  }
}

// .to-top {
//   background: var(--accent-color);
//   position: fixed;
//   bottom: 16px;
//   right: 32px;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-style: 32px;
//   color: black;
//   text-decoration: none;
//   opacity: 0;
//   pointer-events: none;
//   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.active {
//     bottom: 32px;
//     pointer-events: auto;
//     opacity: 1;
//   }
// }

div.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #286090; /* цвет заднего фона */
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color: #000; /* цвет заднего фона при наведении */
}
